In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Subindo o dataset bruto

In [13]:
df=pd.read_csv("/Users/natas/OneDrive/Área de Trabalho/Resilia/Modulo_4/Projeto_Modulo_4/bases_/bases/caso_full.csv")
df.head() #df é planilha casos_full_sem_nan

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0

In [14]:
df['state'].value_counts() #contando quantas ocorrencias tem de cada estado

MG    334547
SP    267116
RS    195500
BA    170019
PR    159806
SC    121188
GO     97341
PB     90846
MA     90330
PI     89238
CE     79468
PE     79014
RN     69504
PA     61742
MT     56811
TO     56430
AL     42896
RJ     41038
ES     34474
MS     31897
SE     31567
AM     26917
RO     22214
AC      9687
RR      7287
AP      7284
DF      1391
Name: state, dtype: int64

In [15]:
sp_estado=df.copy()#não precisamos exportar essa planilha, mas é o estado de são paulo
sp_estado=df.loc[df['state']=='SP']
sp_estado=df.loc[df['city'].isnull()]# pegando as linhas que sereferem somente ao estado de São Paulo
sp_estado.shape

(12532, 18)

In [16]:
df.loc[df['city'].isnull()]
df=df.dropna()#limpando a planilha das linhas nulas que são referentes aos estados

In [18]:
df['state'].value_counts() #contando quantas ocorrencias tem de cada estado depois da exclusão dos nulos

MG    328151
SP    265451
RS    193935
BA    166540
PR    158278
SC    119670
GO     95507
PB     89858
MA     89588
PI     88561
CE     78478
PE     77980
RN     68500
PA     60834
MT     55851
TO     54128
AL     41944
RJ     40031
ES     33103
MS     31245
SE     31066
AM     26353
RO     21271
AC      9182
AP      6827
RR      6398
DF       470
Name: state, dtype: int64

### Filtrando pelo estado de SP e criando um novo DF

In [19]:
sp=df.copy()
sp=sp.loc[df['state']=='SP']
sp.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
1952006,São Paulo,3550308.0,2020-02-25,202009,12325232.0,12252023.0,False,False,1,0.00811,2020-02-25,0.0,0,1,city,SP,1,0
1952008,São Paulo,3550308.0,2020-02-26,202009,12325232.0,12252023.0,False,False,1,0.00811,2020-02-26,0.0,0,2,city,SP,0,0
1952010,São Paulo,3550308.0,2020-02-27,202009,12325232.0,12252023.0,False,False,1,0.00811,2020-02-27,0.0,0,3,city,SP,0,0
1952012,São Paulo,3550308.0,2020-02-28,202009,12325232.0,12252023.0,False,False,2,0.01623,2020-02-28,0.0,0,4,city,SP,1,0
1952014,São Paulo,3550308.0,2020-02-29,202009,12325232.0,12252023.0,False,False,2,0.01623,2020-02-29,0.0,0,5,city,SP,0,0

In [20]:
sp.shape

(265451, 18)

In [21]:
sp_estado.shape

(12532, 18)

In [22]:
teste=sp['new_deaths']
soma=0
for i in teste:
    soma+=i
soma

121237

In [23]:
sp.drop('is_last', axis=1, inplace=True)
sp.drop('is_repeated', axis=1, inplace = True)
sp.drop('order_for_place', axis=1, inplace = True)
sp.drop('place_type', axis=1, inplace = True)

In [24]:
sp.columns

Index(['city', 'city_ibge_code', 'date', 'epidemiological_week',
       'estimated_population', 'estimated_population_2019',
       'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants', 'last_available_date',
       'last_available_death_rate', 'last_available_deaths', 'state',
       'new_confirmed', 'new_deaths'],
      dtype='object')

### fazendo duas planilhas para fazer o join depois

In [25]:
planilha1=sp.groupby('city').agg(
    {'new_deaths': ['sum'], 'epidemiological_week': ['count'],'city_ibge_code': ['first'],
     'new_confirmed':['sum'],'city':['first'],'estimated_population_2019':['first']})

In [26]:
planilha1.rename({'sum': 'new_deaths','count': 'epidemiological_week', 'first': 'city_ibge_code','sum':'new_confirmed','first': 'city' ,'first':'estimated_population_2019'}, axis=1)

,new_deaths,epidemiological_week,city_ibge_code,new_confirmed,city,estimated_population_2019
,new_confirmed,epidemiological_week,estimated_population_2019,new_confirmed,estimated_population_2019,estimated_population_2019
city,,,,,,
Adamantina,94,434,3500105.0,3111,Adamantina,35068.0
Adolfo,13,416,3500204.0,497,Adolfo,3562.0
Aguaí,86,422,3500303.0,2778,Aguaí,36305.0
Agudos,82,444,3500709.0,3570,Agudos,37214.0
Alambari,10,430,3500758.0,509,Alambari,6025.0
...,...,...,...,...,...,...
Águas de São Pedro,7,436,3500600.0,298,Águas de São Pedro,3451.0
Álvares Florence,13,387,3501202.0,449,Álvares Florence,3679.0
Álvares Machado,53,418,3501301.0,1824,Álvares Machado,24915.0
Álvaro de Carvalho,9,407,3501400.0,149,Álvaro de Carvalho,5227.0
Óleo,1,366,3533809.0,93,Óleo,2496.0

In [27]:
planilha1.head()

,new_deaths,epidemiological_week,city_ibge_code,new_confirmed,city,estimated_population_2019
,sum,count,first,sum,first,first
city,,,,,,
Adamantina,94,434,3500105.0,3111,Adamantina,35068.0
Adolfo,13,416,3500204.0,497,Adolfo,3562.0
Aguaí,86,422,3500303.0,2778,Aguaí,36305.0
Agudos,82,444,3500709.0,3570,Agudos,37214.0
Alambari,10,430,3500758.0,509,Alambari,6025.0

Fazendo a planilha repartindo desde o começo da vacinação

In [ ]:
antes_vacinacao = sp[sp['date']< '2021-01-17']
antes_vacinacao.shape

In [32]:
depois_vacinacao = sp[sp['date']> '2021-01-17']
depois_vacinacao.shape

(98685, 14)

In [33]:
pln_antes_vacinacao=antes_vacinacao.groupby('city').agg(
    {'new_deaths': ['sum'], 'epidemiological_week': ['count'],'city_ibge_code': ['first'],
     'new_confirmed':['sum'],'city':['first'],'estimated_population_2019':['first']})

In [34]:
pln_antes_vacinacao.rename({'sum': 'new_deaths','count': 'epidemiological_week', 'first': 'city_ibge_code','sum':'new_confirmed','first': 'city' ,'first':'estimated_population_2019'}, axis=1)

,new_deaths,epidemiological_week,city_ibge_code,new_confirmed,city,estimated_population_2019
,new_confirmed,epidemiological_week,estimated_population_2019,new_confirmed,estimated_population_2019,estimated_population_2019
city,,,,,,
Adamantina,20,280,3500105.0,871,Adamantina,35068.0
Adolfo,5,262,3500204.0,164,Adolfo,3562.0
Aguaí,16,268,3500303.0,703,Aguaí,36305.0
Agudos,19,290,3500709.0,1127,Agudos,37214.0
Alambari,4,276,3500758.0,136,Alambari,6025.0
...,...,...,...,...,...,...
Águas de São Pedro,2,282,3500600.0,96,Águas de São Pedro,3451.0
Álvares Florence,6,233,3501202.0,120,Álvares Florence,3679.0
Álvares Machado,15,264,3501301.0,516,Álvares Machado,24915.0
Álvaro de Carvalho,4,253,3501400.0,57,Álvaro de Carvalho,5227.0
Óleo,0,212,3533809.0,10,Óleo,2496.0

In [35]:
pln_antes_vacinacao.shape

(645, 6)

In [36]:
pln_depois_vacinacao=depois_vacinacao.groupby('city').agg(
    {'new_deaths': ['sum'], 'epidemiological_week': ['count'],'city_ibge_code': ['first'],
     'new_confirmed':['sum'],'city':['first'],'estimated_population_2019':['first']})

In [37]:
pln_depois_vacinacao.rename({'sum': 'new_deaths','count': 'epidemiological_week', 'first': 'city_ibge_code','sum':'new_confirmed','first': 'city' ,'first':'estimated_population_2019'}, axis=1)

,new_deaths,epidemiological_week,city_ibge_code,new_confirmed,city,estimated_population_2019
,new_confirmed,epidemiological_week,estimated_population_2019,new_confirmed,estimated_population_2019,estimated_population_2019
city,,,,,,
Adamantina,74,153,3500105.0,2239,Adamantina,35068.0
Adolfo,8,153,3500204.0,332,Adolfo,3562.0
Aguaí,70,153,3500303.0,2070,Aguaí,36305.0
Agudos,63,153,3500709.0,2440,Agudos,37214.0
Alambari,6,153,3500758.0,368,Alambari,6025.0
...,...,...,...,...,...,...
Águas de São Pedro,5,153,3500600.0,202,Águas de São Pedro,3451.0
Álvares Florence,7,153,3501202.0,329,Álvares Florence,3679.0
Álvares Machado,38,153,3501301.0,1308,Álvares Machado,24915.0
Álvaro de Carvalho,5,153,3501400.0,92,Álvaro de Carvalho,5227.0
Óleo,1,153,3533809.0,83,Óleo,2496.0

### fazendo a planilha dos leitos

In [39]:
df2=pd.read_csv('/Users/natas/OneDrive/Área de Trabalho/Resilia/Modulo_4/Projeto_4_bases/123leitos_internacoes.csv',sep=';')

In [40]:
df2.head()

,datahora,nome_drs,pacientes_uti_mm7d,total_covid_uti_mm7d,ocupacao_leitos,pop,leitos_pc,internacoes_7d,internacoes_7d_l,internacoes_7v7,pacientes_uti_ultimo_dia,total_covid_uti_ultimo_dia,ocupacao_leitos_ultimo_dia,internacoes_ultimo_dia,pacientes_enf_mm7d,total_covid_enf_mm7d,pacientes_enf_ultimo_dia,total_covid_enf_ultimo_dia
0,19/05/2020,Município de São Paulo,"2268,43",2868,"79,09",11869660,"24,16",5049,4728,"6,79",2402,2990,"80,33",608,"3447,14","4980,86",3498,5010
1,19/05/2020,Grande SP Leste,254,"329,14","77,17",2977781,"11,05",596,488,"22,13",286,361,"79,22",71,"445,86","582,43",433,562
2,19/05/2020,Grande SP Norte,"48,86","58,14","84,04",603465,"9,63",120,110,"9,09",55,63,"87,3",13,"87,57","160,86",99,160
3,19/05/2020,Grande SP Oeste,"185,43","210,14","88,24",1858252,"11,31",535,431,"24,13",193,212,"91,04",61,341,"513,14",355,532
4,19/05/2020,Grande SP Sudeste,"407,86","536,57","76,01",2690590,"19,94",970,825,"17,58",428,581,"73,67",132,"608,86","1006,71",595,1181

In [55]:
sp['new_confirmed'].sum()/sp['estimated_population_2019'].unique().sum()*100

7.737373016970674

In [53]:
sp['estimated_population_2019'].unique().sum()

45905839.0

In [56]:
sp['new_confirmed'].sum()

3551906

### transformando em os dataframes em csv

In [28]:
planilha1.to_csv('cidades_sp_agrupadas.csv')

In [29]:
sp.to_csv('covid_municipios_sp.csv')

In [29]:
sp_estado.to_csv('covid_estado_sp.csv')

In [17]:
df.to_csv('casos_full_sem_nan.csv')

In [38]:
pln_depois_vacinacao.to_csv('pln_depois_vacinacao.csv')
pln_antes_vacinacao.to_csv('pln_antes_vacinacao.csv')