In [1]:
import pandas as pd

### Subindo o dataset bruto

In [2]:
df=pd.read_csv("caso_full.csv")
df.head() #mostra as 5 primeiras linhas

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0

In [3]:
df['state'].value_counts() #contando quantas ocorrencias tem de cada estado

MG    334547
SP    267116
RS    195500
BA    170019
PR    159806
SC    121188
GO     97341
PB     90846
MA     90330
PI     89238
CE     79468
PE     79014
RN     69504
PA     61742
MT     56811
TO     56430
AL     42896
RJ     41038
ES     34474
MS     31897
SE     31567
AM     26917
RO     22214
AC      9687
RR      7287
AP      7284
DF      1391
Name: state, dtype: int64

In [26]:
df.loc[df['city'].isnull()]
df=df.dropna()#limpando a planilha das linhas nulas que s√£o referentes aos estados

In [27]:
df.to_csv('casos_full_sem_nan.csv')

In [29]:
df['state'].value_counts() #contando quantas ocorrencias tem de cada estado

MG    328151
SP    265451
RS    193935
BA    166540
PR    158278
SC    119670
GO     95507
PB     89858
MA     89588
PI     88561
CE     78478
PE     77980
RN     68500
PA     60834
MT     55851
TO     54128
AL     41944
RJ     40031
ES     33103
MS     31245
SE     31066
AM     26353
RO     21271
AC      9182
AP      6827
RR      6398
DF       470
Name: state, dtype: int64

### Filtrando pelo estado de SP e criando um novo DF

In [13]:
sp=df.loc[df['state']=='SP']
sp.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
1952006,S√£o Paulo,3550308.0,2020-02-25,202009,12325232.0,12252023.0,False,False,1,0.00811,2020-02-25,0.0,0,1,city,SP,1,0
1952007,NaN,35.0,2020-02-25,202009,46289333.0,45919049.0,False,False,1,0.00216,2020-02-25,0.0,0,1,state,SP,1,0
1952008,S√£o Paulo,3550308.0,2020-02-26,202009,12325232.0,12252023.0,False,False,1,0.00811,2020-02-26,0.0,0,2,city,SP,0,0
1952009,NaN,35.0,2020-02-26,202009,46289333.0,45919049.0,False,False,1,0.00216,2020-02-26,0.0,0,2,state,SP,0,0
1952010,S√£o Paulo,3550308.0,2020-02-27,202009,12325232.0,12252023.0,False,False,1,0.00811,2020-02-27,0.0,0,3,city,SP,0,0

In [14]:
sp_estado=sp.loc[sp['city'].isnull()]# pegando as linhas que sereferem somente ao estado de S√£o Paulo
sp=sp.dropna()# tirando as linhas nulas.

In [15]:
sp.columns

Index(['city', 'city_ibge_code', 'date', 'epidemiological_week',
       'estimated_population', 'estimated_population_2019', 'is_last',
       'is_repeated', 'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants', 'last_available_date',
       'last_available_death_rate', 'last_available_deaths', 'order_for_place',
       'place_type', 'state', 'new_confirmed', 'new_deaths'],
      dtype='object')

In [16]:
sp.drop('is_last', axis=1, inplace=True)
sp.drop('is_repeated', axis=1, inplace = True)
sp.drop('order_for_place', axis=1, inplace = True)
sp.drop('place_type', axis=1, inplace = True)

In [17]:
sp.columns

Index(['city', 'city_ibge_code', 'date', 'epidemiological_week',
       'estimated_population', 'estimated_population_2019',
       'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants', 'last_available_date',
       'last_available_death_rate', 'last_available_deaths', 'state',
       'new_confirmed', 'new_deaths'],
      dtype='object')

### fazendo duas planilhas para fazer o join depois

In [37]:
planilha1=sp.groupby('city').agg({'new_deaths': ['sum'], 'epidemiological_week': ['count'],'city_ibge_code': ['first'],'new_confirmed':['sum'],'city':['first'],'estimated_population_2019':['first']})
planilha1.head()

,new_deaths,epidemiological_week,city_ibge_code,new_confirmed,city,estimated_population_2019
,sum,count,first,sum,first,first
city,,,,,,
Adamantina,94,434,3500105.0,3111,Adamantina,35068.0
Adolfo,13,416,3500204.0,497,Adolfo,3562.0
Agua√≠,86,422,3500303.0,2778,Agua√≠,36305.0
Agudos,82,444,3500709.0,3570,Agudos,37214.0
Alambari,10,430,3500758.0,509,Alambari,6025.0

In [38]:
planilha1.rename({'sum': 'new_deaths','count': 'epidemiological_week', 'first': 'city_ibge_code','sum':'new_confirmed','first': 'city' ,'first':'estimated_population_2019'}, axis=1)

,new_deaths,epidemiological_week,city_ibge_code,new_confirmed,city,estimated_population_2019
,new_confirmed,epidemiological_week,estimated_population_2019,new_confirmed,estimated_population_2019,estimated_population_2019
city,,,,,,
Adamantina,94,434,3500105.0,3111,Adamantina,35068.0
Adolfo,13,416,3500204.0,497,Adolfo,3562.0
Agua√≠,86,422,3500303.0,2778,Agua√≠,36305.0
Agudos,82,444,3500709.0,3570,Agudos,37214.0
Alambari,10,430,3500758.0,509,Alambari,6025.0
...,...,...,...,...,...,...
√Åguas de S√£o Pedro,7,436,3500600.0,298,√Åguas de S√£o Pedro,3451.0
√Ålvares Florence,13,387,3501202.0,449,√Ålvares Florence,3679.0
√Ålvares Machado,53,418,3501301.0,1824,√Ålvares Machado,24915.0
√Ålvaro de Carvalho,9,407,3501400.0,149,√Ålvaro de Carvalho,5227.0
√ìleo,1,366,3533809.0,93,√ìleo,2496.0

In [39]:
planilha1.head()

,new_deaths,epidemiological_week,city_ibge_code,new_confirmed,city,estimated_population_2019
,sum,count,first,sum,first,first
city,,,,,,
Adamantina,94,434,3500105.0,3111,Adamantina,35068.0
Adolfo,13,416,3500204.0,497,Adolfo,3562.0
Agua√≠,86,422,3500303.0,2778,Agua√≠,36305.0
Agudos,82,444,3500709.0,3570,Agudos,37214.0
Alambari,10,430,3500758.0,509,Alambari,6025.0

### transformando em os dataframes em csv

In [40]:
planilha1.to_csv('cidades_sp_agrupadas.csv')

In [ ]:
sp.to_csv('covid_municipios_sp.csv')
sp_estado.to_csv('covid_estado_sp.csv')
mortes_semana.to_csv('mortes_semana.csv')